* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

#contenue {
    width: 36rem;
    height: 36rem;
}

#screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#screen div {
    margin: 0.7rem;
    width: 5.1rem;
    height: 5.1rem;
    border: solid red 1px;
}

.rond {
    border-radius: 50%;
}

.losange {
    transform: rotate(45deg);
}

.full {
    background: lightblue;
}