* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

#contenue {
    border: solid black 1px;
    padding: 2rem;
    width: 30rem;
    height: 30rem;
}

#screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#screen div {
    width: 5.1rem;
    height: 5.1rem;
    border: solid red 1px;
}